*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
    
    width: 370px;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;

}
.slider img{
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 10px;
    scroll-snap-align: center;
}